/* Responsive styles for smaller screens */
@media only screen and (max-width: 600px) {
    form {
        padding: 20px; 
        width: 70%;
    }

    .form input,
    .form select {
        width: 85%;
    }

    button {
        width: 30%; 
    }
}
